@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background-color: #1d2a35;
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #e6e6e6;
}

.site-header {
    position: sticky;
    top: 0;
    background: rgb(21,32,43);
    z-index: 1200;
    height: 60px;
}

.header-content {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.site-title, .site-title:visited {
    text-decoration: none;
    color: #CCC;
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.page-link, .page-link:visited {
    text-decoration: none;
    margin-right: 20px;
    color: #f1f1f1;
    font-size: 20px;
}

.site-nav {
    float: right;
    line-height: 54px;
}

.icon {
    height: 32px;
    width: 32px;
    margin-bottom: 1px;
    margin-right: 1px;
    vertical-align: middle;
    display: inline-flex;
}

.page-content {
    padding: 30px 0;
    flex: 1;
}

.page-content .posts-head::before {
    content: " ";
    margin-top: -75px;
    height: 75px;
    display: block;
}

.posts-head {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    color: #f1f1f1;
}

.posts {
    margin-left: 0;
    list-style: none;
    margin-bottom: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post > ul {
    margin-bottom: 30px;
}

.post {
    line-height: 24px;
    list-style: none;
}

.date, .author {
    line-height: 11px;
    font-size: 80%;
    color: #828282;
}

.post-title {
    margin-bottom: 0px;
    margin: 0;
    padding: 0;
}

.post-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.75rem;
    color: #04AA6D; 
}

.include_image {
    padding-bottom: 15px;
}

.post-header {
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 15px;
    margin: 0;
    padding: 0;
}

.auth-form {
    padding: 75px;
}

.auth-form-code {
    width: 800px;
    height: 35px;
    border: 0;
    background-color : #505050;
    color: #f1f1f1;
    border-radius:10px;
    padding-left: 10px;
}

.auth-form-code::placeholder {
    color: #f1f1f1;
}

.search-bar {
    margin-top: 85px;
    margin-right: -100px;
    float: right;
    background-color : #505050;
    color: #f1f1f1;
    border-radius:10px;
    border-style: none;
    padding-left: 10px;
    height: 22px;
}

.search-bar::placeholder {
    color: #f1f1f1;
}