<!DOCTYPE html>
<html>
    <head>
        <title>Logical - TAMUctf</title>
        <link rel="stylesheet" href="static/style.css"/>
    </head>
    <body>
        <center>
            <div class="container">
                <div class="forum">
                    <h1>Forgot Password</h1>
                    <p>If your username exists in our database, you will be sent a password reset email.</p>
                    <label>Username: </label><input class="input" id="username"></input><br>
                    <textarea class="output" id="output" readonly></textarea>
                </div>
            </div>
        </center>
    </body>
    <script src="static/main.js"></script>
</html>
